<footer>
 <section id="container-footer">
  <div class="container-logo">
   <img id="logo-footer" src="images/home/logofooter.svg" alt="Logo SkoobyTech - Escola de Tecnologia">
  </div>
  <span id="area-navegacao-footer">
   <nav class="conteudo-nav">
    <ul>
     <li><h3 class="titulo-nav">SOBRE</h3></li>
     <a href="#"><li class="topico-nav">A SkoobyTech</li></a>
     <a href="#"><li class="topico-nav">Termos de uso</li></a>
     <a href="#"><li class="topico-nav">Políticas de<br> Privacidade</li></a>
     <a href="#"><li class="topico-nav">Parceiros</li></a>
    </ul>
   </nav>
 
   <nav class="conteudo-nav">
    <ul>
     <li><h3 class="titulo-nav">SUPORTE</h3></li>
     <a href="#"><li class="topico-nav">Entre em contato</li></a>
     <a href="#"><li class="topico-nav">SAQ</li></a>
     <a href="#"><li class="topico-nav">Ouvidoria</li></a>
     <a href="#"><li class="topico-nav">Acessibilidade</li></a>
    </ul>
   </nav>
 
   <nav class="conteudo-nav">
    <ul>
     <li><h3 class="titulo-nav">DÚVIDAS</h3></li>
     <a href="#"><li class="topico-nav">Perguntas frequentes</li></a>
     <a href="#"><li class="topico-nav">Central de ajuda</li></a>
     <a href="#"><li class="topico-nav">Discord</li></a>
     <a href="#"><li class="topico-nav">Diretório</li></a>
    </ul>
   </nav>
  </span>

  <span id="newsletter-footer">
   <h2>Assine e fique por dentro de tudo</h2>
   <p id="newsletter-detalhes">Receba as últimas notícias, artigos e novidades da Skooby</p>
   <div id="campo-newsletter">
    <p id="email-newsletter">Digite seu e-mail</p>
    <button id="botao-newsletter">INSCREVA-SE</button>
   </div>
  </span>
 </section>

 <div id="faixa-footer"></div>
 <span id="rodape-footer">
  <div id="marca-skooby-footer">
   <p id="marca-skooby">© SkoobyTech 2022</p>
  </div>

  <nav id="redes-sociais">
   <img class="icones-redes-sociais" src="images/home/linkedin.svg" alt="Ícone LinkedIn">
   <img class="icones-redes-sociais" src="images/home/facebook.svg" alt="Ícone Facebook">
   <img class="icones-redes-sociais" src="images/home/instagram.svg" alt="Ícone Instagram">
   <img class="icones-redes-sociais" src="images/home/twitter.svg" alt="Ícone Twitter">
   <img class="icones-redes-sociais" src="images/home/youtube.svg" alt="Ícone Youtube">
  </nav>
 </span>
</footer>