
<header>
    <img class="logoheader" src="/images/home/logoheader.png" alt="Logo">
    <div>
        <nav id="menu">
        <ul>

          <li>         <a>HOME</a></li> 
          <li>           <a>CETEGORIAS</a></li>  
          <li>             <a>ENSINE NA SKOOBY</a></li>  
          <li>               

        </ul>     
      </nav>

      <section id="barra-de-pesquisa">
        <input type="text" id="txtpesquisar" placeholder="O que você quer aprender?"/>
        <img src="/images/home/pesquisar.png" id="btnpesquisar" alt="Buscar"/>
      </section>

    
  </header>