  <header>
    <nav id= "menu-entradas">
      <a href= "#"><img id="logo-header" src="images/home/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
      <a class="topico-header" href= "/home"><h2 class="nav-header">HOME</h2></a>
      <a class="topico-header" href= "/products"><h2 class="nav-header">CATEGORIAS</h2></a>
      <a class="topico-header" href= "#"><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
    </nav>
        
    <span id= "area-pesquisa">
      <p id= "campo-pesquisa">O que você quer aprender?</p>
      <img id= "icone-campo-pesquisa" src="images/products/pesquisar.svg" alt="Ícone de lupa de pesquisa">
    </span>
        
    <span id= "opcoes-user-header">
      <img id= "icone-carrinho" src="images/products/carrinho.svg" alt="ícone de carrinho de compras">
      <a href= "/login"><p id="link-entrar">Entrar</p></a>
      <button type="submit" href="/cadastro" id="botao-cadastro">CADASTRE-SE</button>
    </span>     
  </header>


