  <header>
    <nav id= "menu-entradas">
      <a href= "/home"><img id="logo-header" src="images/home/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
      <a class="topico-header" href= "/home"><h2 class="nav-header">HOME</h2></a>
      <a class="topico-header" href= "/products"><h2 class="nav-header">CATEGORIAS</h2></a>
      <a class="topico-header" href= "#"><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
    </nav>
        
    <div id= "area-pesquisa">
      <input type="text" id="campo-pesquisa" placeholder="O que você quer aprender?">
      <button id="botao-pesquisar" type="submit"><img src="images/products/pesquisar.svg" alt="Ícone de lupa de pesquisa"></button>
    </div>
        
    <span id= "opcoes-user-header">
      <img id= "icone-carrinho" src="images/products/carrinho.svg" alt="ícone de carrinho de compras">
      <a href= "/login"><p id="link-entrar">Entrar</p></a>
      <a href="/cadastro"><button id="botao-cadastro">CADASTRE-SE</button></a>
    </span>   
  </header>


