<header>

      <header>
        <nav id="menu-entradas">
         <a href="#"><img id="logo-header" src="public/images/home/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
         <a href=""><h2 class="nav-header">HOME</h2></a>
         <a href=""><h2 class="nav-header">CATEGORIAS</h2></a>
         <a href=""><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
        </nav>
      
        <span id="area-pesquisa">
         <p id="campo-pesquisa">O que você quer aprender?</p>
         <img id="icone-campo-pesquisa" src="images/products/pesquisar.svg" alt="Ícone de lupa de pesquisa">
        </span>
      
        <span id="opcoes-user-header">
         <img id="icone-carrinho" src="images/products/carrinho.svg" alt="ícone de carrinho de compras">
         <a href=""><p id="link-entrar">Entrar</p></a>
         <a href="#"><button id="botao-cadastro">CADASTRE-SE</button></a>
        </span>
       </header>
       
  </header>


      <!-- <img class="logoheader" src="images/home/logoheader.svg" alt="Logo">
    <div>
        <nav id="menu">
        <ul>

          <li>         <a>HOME</a></li> 
          <li>           <a>CETEGORIAS</a></li>  
          <li>             <a>ENSINE NA SKOOBY</a></li>  
          <li>               

        </ul>     
      </nav>

      <section id="barra-de-pesquisa">
        <input type="text" id="txtpesquisar" placeholder="O que você quer aprender?"/>
        <img src="images/home/pesquisar.svg" id="btnpesquisar" alt="Buscar"/>
      </section> -->

    
