
 <div class="listagem-cursos">
   <div class="icone-seta-rolagem-esquerda">
      <img src="images/products/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
   </div>
  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img src="images/products/curso1.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="/course"><p class="descricao-curso">Iniciando em JavaScript - cursos em Back End</p></a>
   <p class="descricao-duracao-curso">Duração: 35 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="images/products/carrinho-products.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="/course">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img src="images/products/curso2.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="/course"><p class="descricao-curso">Node JS do Zero ao Avançado</p></a>
   <p class="descricao-duracao-curso">Duração: 70 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="images/products/carrinho-products.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="/course">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img src="images/products/curso3.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="/course"><p class="descricao-curso">Boas Práticas para o melhor código!</p></a>
   <p class="descricao-duracao-curso">Duração: 15 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="images/products/carrinho-products.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="/course">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img src="images/products/curso5.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="/course"><p class="descricao-curso">Banco de Dados | SQL e MySQL</p></a>
   <p class="descricao-duracao-curso">Duração: 50 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="images/products/carrinho-products.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="/course">Ver detalhes</a>
   </div>
  </div>

  <div class="curso-detalhes">
   <div class="imagem-descritiva-curso">
    <img src="images/products/curso6.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
   </div>
   <a href="/course"><p class="descricao-curso">Introdução ao Framework: Express</p></a>
   <p class="descricao-duracao-curso">Duração: 30 horas</p>
   <strong class="valor-curso">R$ 49,00</strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="images/products/carrinho-products.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="/course">Ver detalhes</a>
   </div>
  </div>
  <div class="icone-seta-rolagem-direita">
   <img src="images/products/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
  </div>
 </div>
