@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 list-style-type: none;
 text-decoration: none;
}

header {
 width: 100%;
 height: 82px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0px 0px 4px #121212;
 background-color: #1C2124;
 position: relative;
 z-index: 16;
}

header #menu-entradas{
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
 margin-left: 15px;
}

header nav .nav-header{
 font-size: 20px;
 margin: 0px 20px;
 padding-left: 20px;
}

.topico-header{
 color: #fff;
 text-decoration: none;
 transition: color 0.3s;
}

.topico-header:hover {
 color: #01B671;
}

header #logo-header{
 margin-right: 20px;
 margin-bottom: 10px;
 padding-left: 20px;
}

#area-pesquisa{
 border-radius: 15px;
 background-color: #373B3E;
 width: 520px;
 height: 43px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0px 10px;
 padding: 0px 5px;
}

#campo-pesquisa{
 color: #C0C0C0;
 font-size: 19px;
 background-color: #373B3E;
 align-items: center;
 margin-left: 12px;
 border: none;
 outline: none;
 width: 100%;
 height: 30px;
}

#botao-pesquisar {
 background-color: #373B3E;
 border: none;
 cursor: pointer;
 margin: 4px 9px 0px 0px;
}

#opcoes-user-header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0px 30px;
 width: 20vh;
}

#botao-acessibilidade{
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
 cursor: pointer;
 padding-top: 20px;
 background-color: #1C2124;
}

body{
 background-color: #1C2124;
 color: #fff;
 width: 100%;
 height: 851px;
}

#mensagem-sucesso{
 display: flex;
 justify-content: center;
 align-items: flex-start;
 width: 100%;
 height: 200px;
}

#compra-realizada{
 margin: 20px 0px 20px 50px;
 padding-top: 30px;
}

#paragrafo-mensagem-sucesso{
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 height: 100px;
 justify-content: center;
 align-items: flex-start;
 font-size: 17px;
 padding-left: 150px;
}

.destaque-checkout{
 color: #01B671;
 font-weight: 700;
}

#linha-divisoria{
 border-top: 1px #5F5F5F solid;
 margin-top: 30px;
 width: 100%;
}

#botoes-user{
 display: flex;
 justify-content: center;
 padding-left: 120px;
}

#botoes-user button {
 cursor: pointer;
 background-color: #01B671;
 border: none;
 width: 246px;
 height: 64px;
 color: #fff;
 font-size: 20px;
 font-weight: 700;
 border-radius: 5px;
 margin: 50px 40px 0px 0px;
 transition: all 0.5s;
}

#botoes-user button:hover{
 background-color: #fff;
 color: #01B671;
 font-weight: 800;
 font-size: 21px;
}

#link-meu-aprendizado{
 font-size: 17px;
 font-weight: 700;
 text-decoration: underline;
 color: #fff;
 margin: 70px 20px 0px 0px;
}

#image-obrigado{
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 margin: 100px 30px 0px;
}

#container-footer {
 width: 100%;
 height: 240px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 10px;
 background-color: #0F1113;
}

#logo-footer{
 margin: 30px;
 padding-bottom: 20px;
 width: 260px;
 height: 260px;
}

#area-navegacao-footer{
 display: flex;
}

.conteudo-nav{
 margin: 0px 50px;
 color: #fff;
}

.titulo-nav{
 margin: 10px;
 list-style: none;
 text-decoration: none;
 font-size: 23px;
}

.topico-nav{
 color: #C0C0C0;
 list-style: none;
 text-decoration: none;
 font-weight: 100;
 font-size: 19px;
 margin: 7px 0px
}


#newsletter-footer{
 color: #fff;
 margin-right: 50px;
}

#newsletter-footer, h2{
 font-size: 27px;
}

#newsletter-detalhes{
 margin: 7px 0px 15px 0px;
 font-size: 18px;
 font-weight: 300;
}

#campo-newsletter{
 display: flex;
}

#email-newsletter{
 width: 240px;
 height: 37px;
 background-color: #fff;
 border-radius: 5px;
 color: #263238D9;
 display: flex;
 align-items: center;
 padding-left: 10px;
 font-size: 15px;
}

#botao-newsletter{
 margin-left: 10px;
 width: 155px;
 height: 37px;
 border-radius: 5px;
 box-shadow: 3px 3px 3px #000;
 border: none;
 background-color: #000;
 color: #fff;
 font-size: 19px;
 font-weight: 900;
 cursor: pointer;
}

#faixa-footer{
 border-top: 1px #C0C0C0 solid;
 width: 2px;
 height: 1px;
}

#rodape-footer{
 display: flex;
 justify-content: space-between;
 background-color: #0F1113;
 padding-top: 15px;
}

#marca-skooby{
 color: #C0C0C0;
 margin: 0px 40px 30px
}

#redes-sociais{
 margin-right: 50px;
}

.icones-redes-sociais{
 margin: 10px 15px 30px;
}

.icones-redes-sociais{
 width: 35px;
 height: 35px;
 cursor: pointer;
 transition: all 0.5s;
}

.icones-redes-sociais:hover{
 width: 30px;
 height: 30px;
}
