@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 list-style-type: none;
 text-decoration: none;
}

header {
 width: 100%;
 height: 82px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0px 0px 4px #121212;
 background-color: #1C2124;
 position: relative;
 z-index: 16;
}

header #menu-entradas{
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
 margin-left: 15px;
}

header nav .nav-header{
 font-size: 20px;
 margin: 0px 20px;
 padding-left: 20px;
}

.topico-header{
 color: #fff;
 text-decoration: none;
 transition: color 0.3s;
}

.topico-header:hover {
 color: #01B671;
}

header #logo-header{
 margin-right: 20px;
 margin-bottom: 10px;
 padding-left: 20px;
}

#area-pesquisa{
 border-radius: 15px;
 background-color: #373B3E;
 width: 520px;
 height: 43px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0px 10px;
 padding: 0px 5px;
}

#campo-pesquisa{
 color: #C0C0C0;
 font-size : 15px;
 background-color: #373B3E;
 align-items: center;
 margin-left: 12px;
 border: none;
 outline: none;
 width: 100%;
 height: 30px;
}

#botao-pesquisar {
 background-color: #373B3E;
 border: none;
 cursor: pointer;
 margin: 4px 9px 0px 0px;
}

#opcoes-user-header{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 0px 30px;
}

#icone-carrinho{
 cursor: pointer;
 margin-top: 2px;
}

#link-entrar{
 color: #fff;
 font-weight: 700;
 margin: 0px 25px;
 font-size: 20px;
}

#botao-cadastro {
 width: 150px;
 height: 45px;
 margin-bottom: 3px;
 border-radius: 5px;
 border: none;
 background-color: #fff;
 color: #263238D9;
 font-weight: 800;
 cursor: pointer;
 font-size: 18px;
 transition: all 0.7s;
}

#botao-cadastro:hover{
 background-color: #01B671;
 color: #fff;
}

#botao-acessibilidade{
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
 cursor: pointer;
 padding-top: 20px;
 background-color: #1C2124;
}

#container-footer {
 width: 100%;
 height: 240px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 10px;
 background-color: #0F1113;
}

#logo-footer{
 margin: 30px;
 padding-bottom: 20px;
 width: 260px;
 height: 260px;
}

#area-navegacao-footer{
 display: flex;
}

.conteudo-nav{
 margin: 0px 50px;
 color: #fff;
}

.titulo-nav{
 margin: 10px;
 list-style: none;
 text-decoration: none;
 font-size: 23px;
}

.topico-nav{
 color: #C0C0C0;
 list-style: none;
 text-decoration: none;
 font-weight: 100;
 font-size: 19px;
 margin: 7px 0px
}


#newsletter-footer{
 color: #fff;
 margin-right: 50px;
}

#newsletter-footer, h2{
 font-size: 27px;
}

#newsletter-detalhes{
 margin: 7px 0px 15px 0px;
 font-size: 18px;
 font-weight: 300;
}

#campo-newsletter{
 display: flex;
}

#email-newsletter{
 width: 240px;
 height: 37px;
 background-color: #fff;
 border-radius: 5px;
 color: #263238D9;
 display: flex;
 align-items: center;
 padding-left: 10px;
 font-size: 15px;
}

#botao-newsletter{
 margin-left: 10px;
 width: 155px;
 height: 37px;
 border-radius: 5px;
 box-shadow: 3px 3px 3px #000;
 border: none;
 background-color: #000;
 color: #fff;
 font-size: 19px;
 font-weight: 900;
 cursor: pointer;
}

#faixa-footer{
 border-top: 1px #C0C0C0 solid;
 width: 2px;
 height: 1px;
}

#rodape-footer{
 display: flex;
 justify-content: space-between;
 background-color: #0F1113;
 padding-top: 15px;
}

#marca-skooby{
 color: #C0C0C0;
 margin: 0px 40px 30px
}

#redes-sociais{
 margin-right: 50px;
}

.icones-redes-sociais{
 margin: 10px 15px 30px;
}

.icones-redes-sociais, img{
 width: 35px;
 height: 35px;
 cursor: pointer;
 transition: all 0.5s;
}

.icones-redes-sociais:hover{
 width: 30px;
 height: 30px;
}