@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 list-style-type: none;
 text-decoration: none;
}

header {
 width: 100%;
 height: 82px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0px 0px 4px #121212;
 background-color: #1C2124;
 position: relative;
 z-index: 16;
}

#menu-entradas{
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
 margin-left: 15px;
}

header nav .nav-header{
 font-size: 20px;
 padding-left: 20px;
}

.topico-header{
 color: #fff;
 text-decoration: none;
 transition: color 0.3s;
}

.topico-header:hover {
 color: #01B671;
}

header #logo-header{
 margin-bottom: 10px;
}

#opcoes-user-header{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 0px 30px;
}

#opcoes-user-header, a{
 color: #fff;
 font-weight: 300;
 margin: 0px 15px;
 font-size: 18px;
}

#botao-cadastro {
 width: 150px;
 height: 45px;
 margin-bottom: 3px;
 border-radius: 5px;
 border: none;
 background-color: #fff;
 color: #263238D9;
 font-weight: 800;
 cursor: pointer;
 font-size: 18px;
 transition: all 0.7s;
}

#botao-cadastro:hover{
 background-color: #01B671;
 color: #fff;
}

#botao-acessibilidade{
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
 cursor: pointer;
 padding-top: 20px;
 background-color: #1C2124;
}

#main-login{
 display: flex;
 justify-content: space-evenly;
 width: 100%;
 height: 100vh;
 background-color: #1C2124;
}

#login-banner{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

#titulo-banner{
 color: #fff;
 font-size: 50px;
 margin: 20px 0px 50px;
 display: flex;
 align-items: flex-end;
 justify-content: flex-start;
}

#titulo-skooby{
 color: #0098A1;
 font-size: 50px;
 font-weight: 800;
}

#image-banner{
 position: relative;
 z-index: 15;
 top: 80px;
}

#login-user{
 background-color: #373B3E;
 width: 600px;
 height: 600px;
 border-radius: 5px;
 border: none;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

form{
 display: flex;
 flex-direction: column;
 align-items: center;
}

form input{
 background-color: #1C2124;
 width: 500px;
 height: 65px;
 border-radius: 5px;
 border: 1px solid #1C2124;
 padding: 10px 10px 10px 50px;
 font-size: 20px;
 color: #fff;
 transition: border 0s;
}

input:hover{
 border: solid 3px #0098A1;
}

input:focus{
 outline: solid 2px #0098A1;
}

.icone-email {
 position: relative;
 right: 223px;
 top: 45px;
 font-size: 20px;
 color: #0098A1
}

.icone-senha {
 position: relative;
 right: 220px;
 top: 43px;
 font-size: 20px;
 color: #0098A1
}

.icone-vision {
 position: relative;
 left: 220px;
 bottom: 45px;
 font-size: 20px;
 color: #0098A1;
 background: none;
 border: none;
 cursor: pointer;
}

#esqueceu-senha{
 text-decoration: underline;
 font-weight: 500;
 font-size: 16px;
 display: flex;
 justify-content: flex-end;
 margin-bottom: 20px;
 padding-left: 330px;
 position: absolute;
 top: 400px;
}

#botao-entrar {
 background-color: #0098A1;
 width: 360px;
 height: 60px;
 border-radius: 5px;
 border: none;
 color: #fff;
 font-size: 23px;
 font-weight: 500;
 cursor: pointer;
 transition: all 0.5s;
}

#botao-entrar:hover{
 background-color: #fff;
 color: #0098A1;
 font-weight: 800;
 font-size: 24px;
}

#login-user p{
 color: #fff;
 font-size: 17px;
}

#cadastro{
 color: #0098A1;
 font-weight: 800;
 font-size: 19px;
}

#rodape-login{
 width: 373px;
 border-top: 1px #C0C0C0 solid;
 display: flex;
 padding-top: 20px;
 align-items: center;
 justify-content: space-around;
}

.alternativas-login{
 width: 122px;
 height: 45px;
 border-radius: 5px;
 border: none;
 background-color: #1C2124;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 cursor: pointer;
}

#faixa-footer{
 border-top: 1px #C0C0C0 solid;
 width: 2px;
 height: 1px;
}

#rodape-footer{
 display: flex;
 justify-content: space-between;
 background-color: #0F1113;
 padding-top: 15px;
}

#marca-skooby{
 color: #C0C0C0;
 margin: 0px 40px 30px
}

#redes-sociais{
 margin-right: 50px;
}

.icones-redes-sociais{
 margin: 10px 15px 30px;
}

.icones-redes-sociais{
 width: 35px;
 height: 35px;
 cursor: pointer;
 transition: all 0.5s;
}

.icones-redes-sociais:hover{
 width: 30px;
 height: 30px;
}