@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px #121212;
    background-color: #1C2124;
    position: relative;
    z-index: 16;
}

header #menu-entradas{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header nav .nav-header{
    font-size: 15px;
    margin: 0px 20px;
}

.topico-header{
    color: #fff;
    text-decoration: none;
}

header #logo-header{
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

#area-pesquisa{
    border-radius: 15px;
    background-color: #373B3E;
    width: 500px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}

#campo-pesquisa{
    color: #BABABA;
    font-size : 15px;
    background-color: #373B3E;
    align-items: center;
    margin-left: 12px;
}

#icone-campo-pesquisa{
    background-color:#373B3E;
    margin-right: 12px;
}

#opcoes-user-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 30px;
}

#icone-carrinho{
    cursor: pointer;
    margin-top: 2px;
}

#link-entrar{
    color: #fff;
    font-weight: 700;
    margin: 0px 20px;
}

#botao-cadastro {
    width: 125px;
    height: 35px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #263238D9;
    font-weight: 800;
    cursor: pointer;
    font-size: 14px;
}


#botao-acessibilidade{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
}
#icone-acessibilidade {
    margin-top: 20px;
}

#container-bodyprofileuser {
    background-color: #1C2124;
}

#cimaprofileuser {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}
   
#mensagemprofileuser {
    font-family: 'Roboto';
}

#mensagemprofileuser h1 {
    width: 222px;
    color:  white;
    font-size: 25px; 
}

#mensagemprofileuser h2 {
    width: 350px;
    margin: 5px;
    color: white;
    font-size: 15px;
}

#containermyaccount {
    display: flex;
    margin: 0px;
    justify-content: space-evenly;
}
#myaccount {
    display: flex;
    margin: 15px 15px 15px 15px;
    width: 1200px;
    height: 650px;
    border-radius: 0px 0px 35px 35px;
    justify-content: flex-end;
    background-color: #393C3D; 
    padding: 15px;
}
.myaccountgradient {
    display: flex;
    height: 120px;
    background-color: blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#configs-account {
  width: 155px;
  height: 30px;
  color: #1C2022;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFC727;
  font-size: 20px;
  border-radius: 5px;
  border: none; 
}

#bioaccount {
    display: flex;
    justify-content: flex-end;
    margin: 15px 15px 15px 15px;
    width: 800px;
    height: 650px;
    border-radius: 0px 0px 35px 35px;
    background-color: #393C3D; 
    padding: 15px;
}
.bioaccountgradient {
    display: flex;
    height: 120px;
    background-color: blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quoteprofileuser {
    display: flex;
    width: 100%;
    height: 650px;
    border-radius: 0px 0px 35px 35px;
    background-color: #393C3D; 
    padding: 15px;
}

#mylearning {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container-footer {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0F1113;
}
   
#logo-footer{
    margin: 30px;
    padding-bottom: 10px;
}

#area-navegacao-footer{
 display: flex;
}

.conteudo-nav{
 margin: 40px;
 color: #fff;
}

.titulo-nav{
 margin: 10px;
 list-style: none;
 text-decoration: none;
}

.topico-nav{
 color: #C0C0C0;
 list-style: none;
 text-decoration: none;
 font-size: 14px;
 font-weight: 100;
}


#newsletter-footer{
 color: #fff;
 margin-right: 50px;
}

#newsletter-detalhes{
 margin: 7px 0px 15px 0px;
 font-size: 14px;
 font-weight: 100;
}

#campo-newsletter{
 display: flex;
}

#email-newsletter{
 width: 190px;
 height: 31px;
 background-color: #fff;
 border-radius: 5px;
 color: #263238D9;
 padding: 8px 0px 1px 7px;
 font-size: 13px;
}

#botao-newsletter{
 margin-left: 10px;
 width: 130px;
 height: 31px;
 border-radius: 5px;
 border: none;
 background-color: #000;
 box-shadow: 3px 3px 3px #000;
 color: #fff;
 font-weight: 900;
 cursor: pointer;
}

#faixa-footer{
 border-top: 1px #C0C0C0 solid;
 width: 2px;
 height: 1px;
}

#rodape-footer{
 display: flex;
 justify-content: space-between;
 background-color: #0F1113;
 padding-top: 15px;
}

#marca-skooby{
 color: #C0C0C0;
 margin: 0px 40px 30px
}

#redes-sociais{
 margin-right: 50px;
}

.icones-redes-sociais{
 margin: 10px 15px 30px;
 cursor: pointer;
}

.icones-redes-sociais:hover{
 width: 28px;
}

   
   
