@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 list-style-type: none;
 text-decoration: none;
}

header {
 width: 100%;
 height: 82px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 box-shadow: 0px 0px 4px #121212;
 background-color: #1C2124;
 position: relative;
 z-index: 16;
}

header #menu-entradas{
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 align-items: center;
 margin-left: 15px;
}

header nav .nav-header{
 font-size: 20px;
 margin: 0px 20px;
 padding-left: 20px;
}

.topico-header{
 color: #fff;
 text-decoration: none;
 transition: color 0.3s;
}

.topico-header:hover {
 color: #01B671;
}

header #logo-header{
 margin-right: 20px;
 margin-bottom: 10px;
 padding-left: 20px;
}

#area-pesquisa{
 border-radius: 15px;
 background-color: #373B3E;
 width: 520px;
 height: 43px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0px 10px;
 padding: 0px 5px;
}

#campo-pesquisa{
 color: #C0C0C0;
 font-size : 15px;
 background-color: #373B3E;
 align-items: center;
 margin-left: 12px;
 border: none;
 outline: none;
 width: 100%;
 height: 30px;
}

#botao-pesquisar {
 background-color: #373B3E;
 border: none;
 cursor: pointer;
 margin: 4px 9px 0px 0px;
}

#opcoes-user-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  width: 20vh;
 }

#botao-acessibilidade{
 display: flex;
 width: 100%;
 justify-content: flex-end;
 align-items: flex-start;
 cursor: pointer;
 padding-top: 20px;
 background-color: #1C2124;
}
   
   body{
    background: #1D2225;
    color: #fff;
    width: 100%;
   }

   .text-start {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 58px;
    margin-left: 70px;
    }

   .container-fluid {
    background: #1D2225;
    width: 1280px;
    height: 2079px;
    display: flex;
    flex-direction: column;
    }

    .carrinho {
    height: 599px;
    width: 620px;
    background: #171A1D;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    }

    .carrinho > div {
    display: flex;
    }

    .caixa {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #C0C0C0;
    margin: 15px;
    }

    .text-p {
    width: 124px;
    font-weight: 900;
    font-size: 20px;
    margin-left: 33px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    }

    .img-curso {
    width: 190px;
    height: 100px;
    margin-bottom: 15px;
    
    }

    #img-ilustrativa {
    width: 100%;
    height: 100px;
    }

    .descricao {
    display: flex;
    flex-direction: column;
    }

    .descricao-curso{
    font-weight: 370;
    font-size: 17px;
    margin-bottom: 1px;
    }
       
    .descricao-duracao-curso{
    font-weight: 370;
    font-size: 17px;
    margin-bottom: 1px;
    }

    button {
    width: 130px;
    }
       
    .valor-curso{
    font-weight: 450;
    font-size: 22px;
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
    }

    .icone-seta-rolagem-esquerda{
      width: 60px;
      height: 50px;
      border-radius: 2px;
      background-color: #393C3D;
      padding: 14px 5px;
    }

     .icone-seta-rolagem-direita{
      width: 60px;
      height: 50px;
      border-radius: 2px;
      background-color: #393C3D;
      padding: 14px 5px;
      justify-content: end;
     }

     .total {
    width: 454px;
    height: 611px;
    background: #262D31;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
   }
  
    .total > div {
      display: flex;
    }

      #total {
      width: 124px;
      font-weight: 900;
      font-size: 25px;
      margin-left: 33px;
      margin-top: 25px;
      display: flex;
      }

      #valor-total {
      width: 200px;
      font-weight: 650;
      font-size: 35px;
      margin-left: 33px;
      margin-top: 25px;
      display: flex;
      }

      #descontos{
      width: 186px;
      height: 22px;
      font-weight: 900;
      font-size: 20px;
      margin-left: 33px;
      margin-top: 35px;
      display: flex;
      }

      #remover-cupom{
      width: 200px;
      height: 8px;
      font-weight: 300;
      font-size: 10px;
      margin-left: 33px;
      display: flex;
      }

      #botao-finalizar {
      background-color: #DC611B;
      color: #263238D9;
      width: 330px;
      height: 53px;
      border-radius: 5px;
      border: none;
      font-weight: 800;
      cursor: pointer;
      font-size: 25px;
      transition: all 0.7s;
      margin-left: 65px;
      margin-top: 50px;
      }

      #icone-bandeiras{
      width: 280px;
      height: 100px;
      margin-top: 25px;
      margin-left: 90px;
      }

      #pix {
        margin-left: 160px;
        margin-top: 20px;
      }

      #botao-cupom {
      width: 230px;
      height: 37px;
      margin-left: 32px;
      }

      #aplicar-bt {
        margin-left: 5px;
      }

      .favoritos {
        height: 631px;
        width: 620px;
        background: #171A1D;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-left: 70px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        }
    
        .favoritos > div {
        display: flex;
        }

        .caixa-2 {
          display: flex;
          margin: 20px 0px 0 44px;
          border-bottom: 1px solid #C0C0C0;
          }

        #seus-favoritos {
          width: 150px;
          font-weight: 900;
          font-size: 20px;
          margin-left: 33px;
          margin-top: 15px;
          display: flex;
          justify-content: center;
          }

        .imagem-curso {
          width: 78px;
          height: 42px;
          margin-bottom: 18px;
        }
        
        #ilustrativa {
          width: 100%;
          height: 50px;
        }
        
        .descri-fav {
          display: flex;
          flex-direction: column;
          margin-left: 25px;
        }

        .descri-curso {
          width: 120px;
          font-weight: 320;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 2px;
        }

        .duracao-curso {
          width: 120px;
          font-weight: 320;
          font-size: 12px;
          margin-bottom: 2px;
        }

        .preco-curso {
          width: 120px;
          font-weight: 320;
          font-size: 12px;
          margin-bottom: 2px;
        }

        .imagem-carrinho {
          display: flex;
          margin: 190px 100px;
        }

        #mover-carrinho {
          width: 122px;
          height: 32px;
          font-size: 11px;
          background-color: #C4C4C4;
          color: #000000;
          border-radius: 5px;
          margin-left: 170px;
          margin-top: 10px;
        }

        #icone-desfavoritar {
          margin-left: 10px;
          margin-top: 10px;
        }

        .container {
          position: relative;
          padding: 15px;
          max-width: 400px;
          margin: 0 auto;
        }

        .text {
            width: 200px;
            font-weight: 900;
            font-size: 20px;
            margin-left: 70px;
            margin-top: 50px;
            display: flex;
            justify-content: left;
        }
        
        .gallery-wrapper {
          overflow-x: auto;
          margin-left: 100px;
        }
        
        .arrow-left, .arrow-right {
          position: absolute;
          top: 90px;
          left: 0;
          right: auto;
          bottom: 0;
          font-size: 20px;
          line-height: 250px;
          width: 40px;
          color: #fff;
          transition: all 600ms ease-in-out;
          background: linear-gradient(to left, transparent 0%, black 200%);
          opacity: 0.1;
          cursor: pointer;
          border: none;
        }
        
        .arrow-left:hover, 
        .arrow-right:hover {
          opacity: 1;
        }
        
        .arrow-right {
          right: 0;
          left: auto;
          text-align: right;
          background: linear-gradient(to right, transparent 0%, black 200%);
        }
        
        .gallery {
          display: flex;
          flex-flow: row nowrap;
          gap: 15px;
        }

        .gallery > img {
          width: 170px;
          height: 120px;
          margin-top: 50px;
        }

        .gallery > div {
          margin-top: 70px;
        }
        
        .item {
          width: 250px;
          height: 250px;
          flex-shrink: 0;
          transition: all 600ms ease-in-out;
          opacity: 0.5;
        }
        
        .current-item {
          opacity: 1;
        }
        
        .gallery-wrapper::-webkit-scrollbar {
          display: none;
        }

   #container-footer {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #0F1113;
   }
   
   #logo-footer{
    margin: 30px;
    padding-bottom: 20px;
    width: 260px;
    height: 260px;
   }
   
   #area-navegacao-footer{
    display: flex;
   }
   
   .conteudo-nav{
    margin: 0px 50px;
    color: #fff;
   }
   
   .titulo-nav{
    margin: 10px;
    list-style: none;
    text-decoration: none;
    font-size: 23px;
   }
   
   .topico-nav{
    color: #C0C0C0;
    list-style: none;
    text-decoration: none;
    font-weight: 100;
    font-size: 19px;
    margin: 7px 0px
   }
   
   #parceiros {
    display: flex;
    background-color: #833C3A;
    width: 100%;
    height: 40px; 
    justify-content: space-evenly;
    align-items: center;
  }
  
  #titulo-parceiros {
    color: #C0C0C0;
    justify-content: flex-start;
    margin-top: 15px;
  }
  
   #newsletter-footer{
    color: #fff;
    margin-right: 50px;
   }
   
   #newsletter-footer, h2{
    font-size: 27px;
   }
   
   #newsletter-detalhes{
    margin: 7px 0px 15px 0px;
    font-size: 18px;
    font-weight: 300;
   }
   
   #campo-newsletter{
    display: flex;
   }
   
   #email-newsletter{
    width: 240px;
    height: 37px;
    background-color: #fff;
    border-radius: 5px;
    color: #263238D9;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
   }
   
   #botao-newsletter{
    margin-left: 10px;
    width: 155px;
    height: 37px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 19px;
    font-weight: 900;
    cursor: pointer;
   }
   
   #faixa-footer{
    border-top: 1px #C0C0C0 solid;
    width: 2px;
    height: 1px;
   }
   
   #rodape-footer{
    display: flex;
    justify-content: space-between;
    background-color: #0F1113;
    padding-top: 15px;
   }
   
   #marca-skooby{
    color: #C0C0C0;
    margin: 0px 40px 30px
   }
   
   #redes-sociais{
    margin-right: 50px;
   }
   
   .icones-redes-sociais{
    margin: 10px 15px 30px;
   }
   
   .icones-redes-sociais{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.5s;
   }
   
   .icones-redes-sociais:hover{
    width: 30px;
    height: 30px;
   }
   