<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="./myApp/public/css/products.css">
 <title>Categorias de cursos | SkoobyTech - Escola de Tecnologia</title>
</head>
<body>

 <header>
  <span class="menu-entradas">
   <img href="" alt="Logo SkoobyTech - Escola de Tecnologia">
   <a><h2>HOME</h2></a>
   <a><h2>CATEGORIAS</h2></a>
   <a><h2>ENSINE NA SKOOBY</h2></a>
  </span>

  <span class="caixa-pesquisa">
   <p>O que você quer aprender?</p>
   <img href="" alt="Ícone de lupa de pesquisa">
  </span>

  <span class="opcoes-user">
   <img href="" alt="ícone de carrinho de compras">
   <a><p>Entrar</p></a>
   <button id="botao-cadastro"></button>
  </span>
 </header>
 
</body>
</html>