<!DOCTYPE html>
<html lang="pt-br">
<%-include('partials/head', {title: "Criar Curso"}) %>
<body>
    <div>
       <h2>Formulário de Criação de Cursos</h2>
       <form action="/courses" method="POST">
         <div>
            <label for="name">Nome do Curso:</label>
            <input type="text" id="name" name="name">
         </div>

         <div>
            <label for="price">Preço do Curso:</label>
            <input type="number" id="price" name="price">
         </div>

         <div>
            <label for="discount">Desconto do Curso:</label>
            <input type="number" id="discount" name="discount">
         </div>

         <div>
            <label for="category">Categoria do Curso:</label>
            <select name="category" id="category">
                <option value="">Escolher</option>
                <option value="in-sale">Em oferta</option>
                <option value="visited">Últimos adicionados</option>
            </select>
         </div>

         <div>
            <label for="description">Descrição do Curso:</label>
            <textarea name="description" id="description"></textarea>
         </div>

         <button type="submit">Salvar Curso</button>
       </form>
    </div> 
</body>
</html>