<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/profile-user.css">
    <title>Meu Perfil</title>
</head>
</html>
<body>
  <header>
    <nav id= "menu-entradas">
      <a href= "/home"><img id="logo-header" src="images/courses/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
      <a class="topico-header" href= "/home"><h2 class="nav-header">HOME</h2></a>
      <a class="topico-header" href= "/courses"><h2 class="nav-header">CATEGORIAS</h2></a>
      <a class="topico-header" href= "#"><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
    </nav>
    <div id= "area-pesquisa">
      <input type="text" id="campo-pesquisa" placeholder="O que você quer aprender?">
      <button id="botao-pesquisar" type="submit"><img src="images/courses/pesquisar.svg" alt="Ícone de lupa de pesquisa"></button>
    </div>
    <span id= "opcoes-user-header">
      <button class="button-card-course"><img src="images/profileuser/carrinho.svg" alt="Botão Carrinho de compras"></button>
      <button class="button-favorite-course"><img src="images/profileuser/icone-favoritar.svg" alt="Botão Favoritos"></button>
      <button class="button-profile-ser"><img src="images/profileuser/userpicheader.svg" alt="ícone de Perfil do Usuário"></button>
      <button class="button-logout" href="/login"> SAIR </button>
            
    </span>   
  </header>
   <main id          = "container-bodyprofileuser">
    <div id="botao-acessibilidade">
     <img id="icone-acessibilidade" src="images/courses/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
    </div>
    <section id= "upprofileuser">
      <img class ="artuser"src= "/images/profileuser/artuser.svg" alt="Art Profile User">
       <div id= "noticeprofileuser">
            <h1>Olá, Fulaninho da TI</h1>
            <h2>Este é seu perfil. Aqui você consegue editar dados pessoais, ver seu progresso nos cursos iniciados e dar uma olhadinha nos favoritos.</h2>
          </section>
        </div>
      </section>
      <box id = "containermyaccount"> 
        <section id="myaccount">
           <p><strong> Minha Conta</strong></p>
           <button class="configs-account" href="/configsaccount" ><strong>Configurações<strong></button>
           <div class="myaccountgradient">  
            <span id="myaccountuserinfo">
               <form>
                  <h1>Informações do Usuário</h1>
                  <br>
                <section id = "info-userup">
                  <div class = "div-infouser">
                    <label for="name">Nome de Usuário</label>
                    <br>
                    <input type="text" id="name" name="name" placeholder="@Fulaninho" required>
                    <br>
                    <label for="name">Primeiro Nome</label>
                    <br>
                    <input type="text" id="name" name="name" placeholder="Fulaninho" required>
                    <br>
                  </div>
                  <div>
                    <label for="e-mail">E-mail</label>
                    <br>
                    <input type="email" id="e-mail" name="e-mail" placeholder="fulaninho@digitalhouse.com" required>
                    <br>
                    <label for="senha">Sobrenome</label>
                    <br>
                    <input type="name" id="name" name="name" placeholder="da TI" required>
                     <br>
                  </div>
                    <br>
                <section id = "info-userdown">
                  <div>
                    <label for="senha">Senha atual (deixe em branco para não alterar)</label>
                    <br>
                    <input type="password" id="confirmação" name="confirmação" placeholder="***********" required>
                    <br>
                    <label for="senha-atual">Nova senha (deixe em branco para não alterar)</label>
                    <br>
                    <input type="password" id="confirmação" name="confirmação" placeholder="Criar nova senha" required>
                    <br>
                    <label for="nova-senha">Confirmar nova senha</label>
                    <br>
                    <input type="password" id="confirmação" name="confirmação" placeholder="Confirmar nova senha" required>
                    <br>
                  </div>
                    <input id="save-profile" type="submit" name="save-profile">
                </section>
                </section>     
              </form>  
            </span>  
          </div>
          <a class="user-since">Por aqui desde: 25/03/2022</a>
      </section>
      <section id = "bioaccount"> 
        <section class = "profile-user-photo"> 
          <img class="user-photo" href = "#" src="/images/profileuser/userpic.svg" alt="EditBio-Account"> 
          <div class="edit-profile-photo-icon">
            <img href = "#" src="/images/profileuser/editIcon.svg" alt="EditBio-Account"> 
          </div>
        </section>
        <div class="user-name">
          <p>Fulaninho da Ti</p>
        </div>
        
        <section id = "bio-user-up">
          <div>
            <p>Biografia</p>
          </div>
          <div>
            <img href = "#" src="/images/profileuser/public-icon.svg" alt="Public Icon"> <a>Público<a></a>
          </div>
        </section>
        <section id = "bio-user-down">
          <textarea class = "bio-user-textarea">          </textarea>
          <div class="edit-bio-account-icon">
            <img href = "#" src="/images/profileuser/editIcon.svg" alt="EditBio-Account"> 
          </div>
        </section>
      </section>
      <section id="container-activityuser">
        <div class = "activity-user">
          <p>Atividades</p>
        </div>
        <div>
          
        </div>
      </section>
      </box>
      <section id = "quoteprofileuser">
        <img id = "quoteprofileuser" src= "/images/profileuser/quoteprofileuser.svg" alt="Quote Profile User">  
      </section>  
      <box id = "container-mylearning">
          <div class="mylearningbar">
            <h1>Meu Aprendizado</h1>
            <img class = "artuser2" src= "/images/profileuser/artuser2.svg" alt="Art Profile User">
          </div> 
       <section id ="mylearning">
            <div id="scheduletime">
              <img class = "mylearningtarget" src= "/images/profileuser/alvo-meu-aprendizado.svg" alt="Target Image">
              <div class = "title-description">
              <h1><strong>Programe um horário para o seu aprendizado</strong></h1>
              <h2>Alguns minutos de estudo por dia valem a pena. Pesquisas mostram que os alunos que fazem do estudo um hábito têm maior probabilidade de alcançar suas metas.<br>Reserve um tempo para estudar e receba lembretes usando seu programador de aprendizado.</h2>
              </div>
              <div class="buttonscheduletimebutton">
              <button href="#" id="scheduletimebuttonI"><strong>Começar<strong></button>
              <button href="#" id="scheduletimebuttonII"><strong>Descartar<strong></button>
              </div>
            </div>
       </section>
       <section id = "container-mycourses">
          <div class="listagem-cursos">
            <div class="icone-seta-rolagem-esquerda">
               <img src="images/courses/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
            </div>
            <div class="curso-detalhes">
                <div class="imagem-descritiva-curso">
                <img src="images/courses/curso1.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
                </div>
                <a href="/course"><p class="descricao-curso">Iniciando em JavaScript</p></a>
                <p class="descricao-duracao-curso">Duração: 34 horas</p>
                <strong class="aulas-disponiveis">4 de 35 aulas disponíveis</strong>
                <div class="opcoes-user-curso">
                <button class="button-continue-course" href="/continue-course" >Continuar</button>
                </div>
            </div>
            <div class="curso-detalhes">
                <div class="imagem-descritiva-curso">
                <img src="images/courses/curso1.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
                </div>
                <a href="/course"><p class="descricao-curso">React</p></a>
                <p class="descricao-duracao-curso">Duração: 9 horas</p>
                <strong class="aulas-disponiveis">2 de 6 aulas disponíveis</strong>
                <div class="opcoes-user-curso">
                    <button class="button-continue-course" href="/continue-course" >Continuar</button>
                </div>
            </div>
            <div class="curso-detalhes">
              <div class="imagem-descritiva-curso">
                <img src="images/courses/curso1.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
              </div>
               <a href="/course"><p class="descricao-curso">Iniciando em JavaScript</p></a>
               <p class="descricao-duracao-curso">Duração: 34 horas</p>
               <strong class="aulas-disponiveis">4 de 35 aulas disponíveis</strong>
              <div class="opcoes-user-curso">
              <button class="button-continue-course" href="/continue-course" >Continuar</button>
              </div>
            </div>
            <div class="curso-detalhes">
              <div class="imagem-descritiva-curso">
                 <img src="images/courses/curso1.jpg" alt="Imagem descritiva dos cursos da categoria Back-End">
              </div>
              <a href="/course"><p class="descricao-curso">Boas Patricas em Código</p></a>
              <p class="descricao-duracao-curso">Duração: 3 horas</p>
              <strong class="aulas-disponiveis">1 de 5 aulas disponíveis</strong>
              <div class="opcoes-user-curso">
                <button class="button-continue-course" href="/continue-course" >Continuar</button>
                </div>
            </div>
                <div class="icone-seta-rolagem-direita">
                 <img src="images/courses/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
                </div>
              </div>             
        </section>
      </box>
      
    </main>
    <footer>
      <%-include("partials/footer") %>
  </footer>
  </body>
</html>