<div class="listagem-cursos">
    <div class="icone-seta-rolagem-esquerda">
      <img src="/images/courses/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
   </div>
   <!-- começa aqui o foreach-->
  <% courses.forEach((course) => {%>
  
  <div class="curso-detalhes">
    <div class="imagem-descritiva-curso">
    <img class="img-do-curso" src="/images/courses/curso1.jpg" alt="Imagem descritiva dos cursos da categoria <% course.categoria %>">
   </div>
   <a href="/courses/detail/<%course.id %>"><p class="descricao-curso"><%= course.nome %></p></a>
   <p class="descricao-duracao-curso">Duração: <%= course.duracao %></p>
   <strong class="valor-curso">Valor: <%= course.preco %></strong>
   <div class="opcoes-user-curso">
    <button class="botao-carrinho-curso"><img src="/images/courses/carrinho-courses.svg" alt="Botão de adicionar ao carrinho de compras"></button>
    <button class="botao-favoritar-curso"><img src="/images/courses/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
    <a class="link-ver-detalhes" href="/courses/detail/<% course.id %>">Ver detalhes</a>
   </div>
  </div>
  <% }) %>
  <!-- termina aqui -->
  <div class="icone-seta-rolagem-direita">
   <img src="/images/courses/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
  </div>
 </div>

  