  <header>
    <nav id= "menu-entradas">
      <a href= "/home"><img id="logo-header" src="/images/courses/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
      <a class="topico-header" href= "/home"><h2 class="nav-header">HOME</h2></a>
      <a class="topico-header" href= "/courses"><h2 class="nav-header">CATEGORIAS</h2></a>
      <a class="topico-header" href= "/cadastre"><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
    </nav>
        
    <div id= "area-pesquisa">
      <input type="text" id="campo-pesquisa" placeholder="O que você quer aprender?">
      <button id="botao-pesquisar" type="submit"><img src="/images/courses/pesquisar.svg" alt="Ícone de lupa de pesquisa"></button>
    </div>
        
    <span id= "opcoes-user-header">
      <a href="/cart"><img id= "icone-carrinho" src="/images/courses/carrinho.svg" alt="ícone de carrinho de compras"></a>
      <a href= "/login"><p id="link-entrar">Entrar</p></a>
      <a href="/cadastre"><button id="botao-cadastro">CADASTRE-SE</button></a>
    </span>   
  </header>


