<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("partials/head") %>
 <link rel="stylesheet" href="css/cadastro.css">
 <title>Realize seu cadastro! | SkoobyTech - Escola de Tecnologia</title>
</head>
<body>
 <header>
  <nav id= "menu-entradas">
   <a href= "/home"><img id="logo-header" src="images/home/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
   <a class="topico-header" href= "/home"><h2 class="nav-header">HOME</h2></a>
   <a class="topico-header" href= "/products"><h2 class="nav-header">CATEGORIAS</h2></a>
   <a class="topico-header" href= "#"><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
 </nav>
     
 <span id="opcoes-user-header">
   <a id="ja-tem-conta" href="/login"><p>Já tem uma conta?</p></a>
   <a href="/login"><button id="botao-entrar">ENTRAR</button></a>

 </span>     
 </header>
 <div id="botao-acessibilidade">
  <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
 </div>

 <span id="main-cadastro">
  <div id="cadastro-banner">
   <h1 id="titulo-banner">Crie sua conta na<a id="titulo-skooby">SkoobyTech</a></h1>
   <img id="image-banner" src="images/cadastro/freepick-cadastro.svg">
  </div>

  <span id="cadastro-user">
   <form action="/home" method="post">
    <label class="icone-user" for="name"><i class="fa-solid fa-user-large"></i></label>
    <input type="text" id="name" name="name" placeholder="Nome completo" required>
    <br>
    <label class="icone-email" for="e-mail"><i class="far fa-envelope"></i></label>
    <input type="email" id="e-mail" name="e-mail" placeholder="Endereço de e-mail" required>
    <br>
    <label class="icone-senha" for="senha"><i class="fa-solid fa-unlock"></i></label>
    <input type="password" id="senha" name="senha" placeholder="Crie uma senha" required>
    <br>
    <label class="icone-senha-confirmacao" for="senha"><i class="fa-solid fa-lock"></i></label>
    <input type="password" id="confirmação" name="confirmação" placeholder="Confirme sua senha" required>
    <br>
    <div id="container-checkbox">
      <input type="checkbox" name="termos" id="termos" required>
      <label for="termos" id="termos">Li e concordo com os <a>Termos de Uso.</a></label>
    </div>
    <br>
    <button>CADASTRAR</button>
   </form>
  </span>

 </span>
 
</body>
<footer>
 <span id="rodape-footer">
  <div id="marca-skooby-footer">
   <p id="marca-skooby">© SkoobyTech 2022</p>
  </div>

  <nav id="redes-sociais">
   <img class="icones-redes-sociais" src="images/home/linkedin.svg" alt="Ícone LinkedIn">
   <img class="icones-redes-sociais" src="images/home/facebook.svg" alt="Ícone Facebook">
   <img class="icones-redes-sociais" src="images/home/instagram.svg" alt="Ícone Instagram">
   <img class="icones-redes-sociais" src="images/home/twitter.svg" alt="Ícone Twitter">
   <img class="icones-redes-sociais" src="images/home/youtube.svg" alt="Ícone Youtube">
  </nav>
 </span>
</footer>
</html>