<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/style-home.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
      <%-include("partials/header") %>
      </header>
      <main id= "container-bodyhome">
        <div id="botao-acessibilidade">
          <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
         </div>
        <div id= "cimahome">
          <section id= "mensagemhome">
            <p >A melhor plataforma de ensino tecnológico que te ajuda a ir atrás dos<bold id = "destaquemensagem">seus sonhos</bold> </p>
          </section>
            <img src= "images/home/arthome.svg" alt="Art Home - SkoobyTech">
        </div>         
        <section class= "banner-carrossel">
             <div class= "carrossel" >
             </div>
        </section>
        <div id = "baixohome">
          <section class= "arthome2" >
           <img src="images/home/arthome2.svg" alt="Art Home - SkoobyTech">
          </section>

          <span id= "categoriasdecursos-home">

            <section class = "categoriashome"><a href="#"><h2></h2>Cursos em Front-End</a></section>
            <section class = "categoriashome"><a href="#"><h2></h2>Cursos em Back-end</a></section>
            <section class = "categoriashome"><a href="#"><h2></h2>Cursos em Full Stack</a></section>
            <section class = "categoriashome"><a href="#"><h2></h2>Cursos em Metodologias de Desenvolvimento</a></section>
          </span>
        </div>

        <span id="parceiros">
          <p id="titulo-parceiros">Com a parceria de empresas Tech em todo Brasil</p>
          <img class="icones-parceiros" src="images/products/parceiro-stripe.svg" alt="Ícone parceiro Stripe">
          <img class="icones-parceiros" src="images/products/parceiro-google.svg" alt="Ícone parceiro Google">
          <img class="icones-parceiros" src="images/products/perceiro-adobe.svg" alt="Ícone parceiro Adobe">
          <img class="icones-parceiros" src="images/products/parceiro-github.svg" alt="Ícone parceiro GitHub">
          <img class="icones-parceiros" src="images/products/parceiro-DH.svg" alt="Ícone parceiro DigitalHouse">
        </span>
       

    </main>
    <footer>
      <%-include("partials/footer") %>
    </footer>
  </body>

</html>