<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/style-home.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
      <%-include("partials/header") %>
      </header>
      <main id          = "container-bodyhome">

        <section class  = "mensagemhome">
          <p >     A melhor plataforma de ensino tecnológico que te ajuda a ir atrás dos seus sonhos        </p>
        </section>

        <section class  = "arthome">
        <img src        = "images/home/arthome.svg" alt="Art Home - SkoobyTech">
        </section>
                        
        <section class  = "banner-carrossel">
          <img class    = "carrossel" src="images/home/carrossel.svg" alt="Art Home - SkoobyTech">
        </section>
        
        <section class    = "arthome2" >
          <img src="images/home/arthome2.svg" alt="Art Home - SkoobyTech">
        </section>

        <section class  = "categoriasdecursos">
          <!-- colocar lista de cursos home -->
        </section>

        <section class  = "parcerias">
          <!-- colocar banner parcerias -->
        </section>

    </main>
    <footer>
      <%-include("partials/footer") %>
    </footer>
  </body>

</html>