<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-home.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
      <%-include("partials/header") %>
      </header>
      <main class="bodyhome">  
        
        <img class="arthome" src="images/home/arthome.svg" alt="Art Home - SkoobyTech">

        <section>

        <p id="mensagemhome">
          A melhor plataforma de ensino tecnológico que te ajuda a ir atrás dos seus sonhos
        </p>

        </section>

        <section class="banner-carrossel">
          <img class="carrossel" src="images/home/carrossel.svg" alt="Art Home - SkoobyTech">
        </section>

          <img class="arthome2" src="images/home/arthome2.svg" alt="Art Home - SkoobyTech">

        <section class="categoriasdecursos">
          <!-- colocar lista de cursos home -->
        </section>

        <section class="parcerias">
          <!-- colocar banner parcerias -->
        </section>

    </main>
    <footer>
      <%-include("partials/footer") %>
     </footer>
  </body>

</html>