<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head") %>
    <link rel="stylesheet" href="css/internal-product.css">
    <title>Produto Interna</title>
</head>
<body>
    <header>
        <%-include("partials/header") %>
    </header>
    <main>
        <div id="botao-acessibilidade">
            <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
        </div>
        <span id="container-apresentacao-curso">
            <div id="preview-curso">
                <div id="video-curso">
                    <img src="images/internalProduct/load-video-preview.svg" alt="teste">
                    <p>Pré-visualização do curso</p>
                </div>
                
                <div id="valores-curso">
                    <div id="preco">
                        <p class="preco-detalhes">De R$99,99</p>
                        <p><strong>R$ 00,00</strong></p>
                        <p class="preco-detalhes">Ganhe 100% de desconto</p>
                    </div>
                    <div id="promocao">
                        <img src="images/internalProduct/promocao-image.svg">
                        <p>Promoção acaba em 00:00 horas</p>
                    </div>
                </div>

                <div id="botoes-user">
                    <form action="/user" method="get">
                        <button id="botao-carrinho" href="#">Adicionar ao carrinho <img src="images/products/carrinho-products.svg"></button>
                        <button id="botao-favoritos" href="#"><img src="images/products/icone-favoritar.svg"></button>
                        <button id="botao-comprar" href="#"><strong>COMPRAR AGORA</strong></button>
                    </form>
                    <a id="devolucao" href="/perguntas-frequentes">Garantia de devolução do dinheiro em 30 dias</a>
                </div>

                <span id="detalhes-curso">
                    <p id="titulo-detalhes-curso"><strong>Detalhes do curso</strong></p>
                    <div id="informacoes-detalhes-curso">
                        <img src="images/internalProduct/image-video-aula.svg" alt="">
                        <p class="caracteristicas-curso">0 horas de vídeo aula</p>
                        <img src="images/internalProduct/image-simulados.svg" alt="">
                        <p class="caracteristicas-curso">0 simulados</p>
                        <img src="images/internalProduct/image-vitalidade.svg" alt="">
                        <p class="caracteristicas-curso">Acesso total vitalício</p>
                        <img src="images/internalProduct/image-atividades.svg" alt="">
                        <p class="caracteristicas-curso">000 atividades</p>
                        <img src="images/internalProduct/image-certificado.svg" alt="">
                        <p class="caracteristicas-curso">Certificado de participação</p>
                    </div>
                    <a href="#">Compartilhar este curso</a>
                </span>
            </div>
        </span>

        <span id="container-informacoes-curso">
            <div id="trilha-curso">
                <p>Página Home > Metodologias de Desenvolvimento > GIT</p>
            </div>
            <div id="informacoes-iniciais-curso">
                <h1>Técnicas de GIT - Nível: zero ao expert</h1>
                <h2>Descrição resumida do que será abordado no curso</h2>
                <a href="#">Classificação e comentários (estrelas)</a>
                <p class="info-curso">Quantos alunos já compraram:</p>
                <p class="info-curso">Criado por: <a href="#">link perfil</a></p>
                <p class="info-curso">Data de atualização do curso: Atualizado em 24 de Março de 2022</p>
                <p>Idioma do curso: Português BR</p>
            </div>
        </span>

        <img src="images/internalProduct/main-image.svg">

        <span id="container-voce-vai-aprender">
            <h2>O que você vai aprender</h2>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Realizar a instalação do Git</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Utilizar os principais comandos do Git</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Entender os estados dos arquivos do projeto</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Integrar projetos versionados pelo Git ao GitHub</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Enviar e receber as versões do projeto na plataforma Github</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Resolver conflitos de alterações em arquivos do projeto</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Trabalhar com branches</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Desenvolver os principais fluxos de trabalho em equipe</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Gerenciar os arquivos em stashes</p>
            <img src="images/internalProduct/image-check.svg">
            <p class="tecnicas-ensinadas">Utilizar pull requests, issues e forks</p>
        </span>

        <span id="equipe-docente">
            <div class="professores"><img src=""></div>
            <div class="professores"><img src=""></div>
            <div class="professores"><img src=""></div>
            <div class="professores"><img src=""></div>
        </span>

        <span id="container-mais-detalhes-curso">
            <div class="caixa-mais-detalhes">
                <img src="images/internalProduct/mais-detalhes.svg">
                <p>Conteúdo do Curso</p>
            </div>
            <div class="caixa-mais-detalhes">
                <img src="images/internalProduct/mais-detalhes.svg">
                <p>Descrição e Reuqisitos</p>
            </div>
            <div class="caixa-mais-detalhes">
                <img src="images/internalProduct/mais-detalhes.svg">
                <p>Comentários e Avalicações</p>
            </div>
        </span>

        <span id="feedback-do-aluno">
            <h2>Feedback do aluno</h2>
            <h2 id="nota-feedback">5.0</h2>
            <img src="images/internalProduct/full-star.svg" alt="">
            <img src="images/internalProduct/full-star.svg" alt="">
            <img src="images/internalProduct/full-star.svg" alt="">
            <img src="images/internalProduct/full-star.svg" alt="">
            <img src="images/internalProduct/full-star.svg" alt="">

            <div id="medidores-feedback">
                <div class="medidor"></div>
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <p class="procentagem-feedback">0%</p>
                <div class="medidor"></div>
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <p class="procentagem-feedback">0%</p>
                <div class="medidor"></div>
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <p class="procentagem-feedback">0%</p>
                <div class="medidor"></div>
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <p class="procentagem-feedback">0%</p>
                <div class="medidor"></div>
                <img src="images/internalProduct/full-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <img src="images/internalProduct/empty-star.svg" alt="">
                <p class="procentagem-feedback">0%</p>
            </div>
        </span>

        <span id="outros-cursos-semelhantes">
            <%-include("partials/product-list") %>
        </span>

        <div id="botao-whatsapp">
            <img id="icone-whatsapp" src="images/internalProduct/icone-whatsapp.svg" alt="ícone do botão Whatsapp - Entre em contato conosco!">
        </div>
    </main>
    <footer>
        <%-include("partials/footer") %>
    </footer>
</body>
</html>