<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("partials/head") %>
    <link rel="stylesheet" href="css/internal-product.css">
    <title>Produto Interna</title>
</head>
<body>
    <header>
        <%-include("partials/header") %>
    </header>
   
    <footer>
        <%-include("partials/footer") %>
    </footer>
</body>
</html>