<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("partials/head") %>
 <link rel="stylesheet" href="css/login.css">
 <title>Faça seu Login! | SkoobyTech - Escola de Tecnologia</title>
</head>
<body>
 <header>
  <nav id= "menu-entradas">
   <a href= "/home"><img id="logo-header" src="images/home/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
   <a class="topico-header" href= "/home"><h2 class="nav-header">HOME</h2></a>
   <a class="topico-header" href= "/products"><h2 class="nav-header">CATEGORIAS</h2></a>
   <a class="topico-header" href= "#"><h2 class="nav-header">ENSINE NA SKOOBY</h2></a>
 </nav>
     
 <span id="opcoes-user-header">
   <a href="/cadastro"><p>Novo na Skooby?</p></a>
   <a href="/cadastro"><button id="botao-cadastro">CADASTRE-SE</button></a>

 </span>     
 </header>
 <div id="botao-acessibilidade">
  <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
 </div>

 <span id="main-login">
  <div id="login-banner">
   <h1 id="titulo-banner">Acesse a plataforma<a id="titulo-skooby">SkoobyTech</a></h1>
   <img id="image-banner" src="images/login/freepick-login.svg">
  </div>

  <span id="login-user">
   <form action="/home" method="post">
    <label class="icone-email" for="e-mail"><i class="far fa-envelope"></i></label>
    <input class="input" type="email" id="e-mail" name="e-mail" placeholder="E-mail" required>
    <br>
    <label class="icone-senha" for="senha"><i class="fa-solid fa-unlock"></i></label>
    <input class="input" type="password" id="senha" name="senha" placeholder="Senha" required>
    <button class="icone-vision"><i class="fa-solid fa-eye-slash"></i></button>
    <br>
    <a id="esqueceu-senha" href="#">Esqueci minha senha</a>
    <br>
    <button id="botao-entrar">ENTRAR</button>
   </form>
   <p>Não tem uma conta?<a id="cadastro" href="/cadastro">CADASTRE-SE</a></p>

   <span id="rodape-login">
    <p>Ou entre com</p>
    <div class="alternativas-login">
     <img src="images/login/github-logo.svg">
     <p>GITHUB</p>
    </div>
    <div class="alternativas-login">
      <img src="images/login/google-logo.svg">
      <p>Google</p>
    </div>
   </span>

  </span>
 </span>
 
</body>
<footer>
 <span id="rodape-footer">
  <div id="marca-skooby-footer">
   <p id="marca-skooby">© SkoobyTech 2022</p>
  </div>

  <nav id="redes-sociais">
   <img class="icones-redes-sociais" src="images/home/linkedin.svg" alt="Ícone LinkedIn">
   <img class="icones-redes-sociais" src="images/home/facebook.svg" alt="Ícone Facebook">
   <img class="icones-redes-sociais" src="images/home/instagram.svg" alt="Ícone Instagram">
   <img class="icones-redes-sociais" src="images/home/twitter.svg" alt="Ícone Twitter">
   <img class="icones-redes-sociais" src="images/home/youtube.svg" alt="Ícone Youtube">
  </nav>
 </span>
</footer>
</html>