<!DOCTYPE html>
<html lang="en">
<head>
 <%-include("partials/head") %>
 <link rel="stylesheet" href="css/login.css">
 <title>SkoobyTech - Escola de Tecnologia | Faça seu Login</title>
</head>
<body>
 <header>
  <%-include("partials/header") %>
 </header>
 
</body>
<footer>
 <%-include("partials/footer") %>
</footer>
</html>