<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/play-course.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
        <nav id= "menu-entradas">
          <div>
            <a><img id="logo-header" src="images/playcourse/logoheader.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
          </div>
        </nav>
        <div>
          <a href= "/home"><img id="logo-full" src="images/playcourse/logo.svg" alt="Logo SkoobyTech - Escola de Tecnologia"></a>
        </div>
        <span id= "opcoes-user-header">
          <div>
            <button class="button-card-course"><img src="images/playcourse/carrinho.svg" alt="Botão Carrinho de compras"></button>
            <button class="button-favorite-course"><img src="images/playcourse/icone-favoritar.svg" alt="Botão Favoritos"></button>
            <button class="button-profile-ser"><img src="images/playcourse/userpicheader.svg" alt="ícone de Perfil do Usuário"></button>
          </div>
        </span>   
      </header>
     <main id= "container-playcourse">
        <div id="botao-acessibilidade">
          <img id="icone-acessibilidade" src="images/playcourse/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
        </div>
        <div id= "up-playcourse">
            <section id= "base-player">
              <div class="title-course">
                <h2>Fundamentos de JavaScript</h2>
              </div>
              <div id="playercourse">              
                   <img class="player" src="images/playcourse/playerexample.svg" alt="Player">
              </div>
              <div class="title-classes">
                4 de 8 aulas disponíveis
              </div>
            </section>
          <aside class = "annotations-modules">
             <div class="title-annotations">
               <h2>Anotações / Módulos</h2>
             </div>
             <textarea class="annotations">  </textarea>          
          </aside>
        </div>  
        <div id = "down-playcourse">
          <div id="teacher-pic">              
               <img class="teacher" src="images/playcourse/teacherpic.svg" alt="Player">
          </div>
          <div class="teacher-name">
            <h2>Prof. Fulano de tal</h2>
          </div>

        </div>
        <span id="parceiros">
          <p id="titulo-parceiros">Com a parceria de empresas Tech em todo Brasil</p>
          <img class="icones-parceiros" src="images/playcourse/parceiro-stripe.svg" alt="Ícone parceiro Stripe">
          <img class="icones-parceiros" src="images/playcourse/parceiro-google.svg" alt="Ícone parceiro Google">
          <img class="icones-parceiros" src="images/playcourse/perceiro-adobe.svg" alt="Ícone parceiro Adobe">
          <img class="icones-parceiros" src="images/playcourse/parceiro-github.svg" alt="Ícone parceiro GitHub">
          <img class="icones-parceiros" src="images/playcourse/parceiro-DH.svg" alt="Ícone parceiro DigitalHouse">
        </span>
    </main>
    <footer>
      <span id="rodape-footer">
       <div id="marca-skooby-footer">
        <p id="marca-skooby">© SkoobyTech 2022</p>
       </div>
     
       <nav id="redes-sociais">
        <img class="icones-redes-sociais" src="images/playcourse/linkedin.svg" alt="Ícone LinkedIn">
        <img class="icones-redes-sociais" src="images/playcourse/facebook.svg" alt="Ícone Facebook">
        <img class="icones-redes-sociais" src="images/playcourse/instagram.svg" alt="Ícone Instagram">
        <img class="icones-redes-sociais" src="images/playcourse/twitter.svg" alt="Ícone Twitter">
        <img class="icones-redes-sociais" src="images/playcourse/youtube.svg" alt="Ícone Youtube">
       </nav>
      </span>
    </footer>
  </body>

</html>