<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/products.css">
 <title>Categorias de cursos | SkoobyTech - Escola de Tecnologia</title>
</head>
<body>

 <header>
    <%-include("partials/header") %>
 </header>

 <main>
  <div id="botao-acessibilidade">
   <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
  </div>

  <section class="container-categorias">
   <div class="categoria"></div>
    <a href="#"><h2 class="titulo-categorias"></h2>Cursos em Back-End</a>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <div class="listagem-cursos">

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso1.svg" alt="Imagem descritiva dos cursos da categoria Back-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Iniciando em JavaScript</h3></a>
      <p class="descricao-duracao-curso">Duração: 35 horas</p>
      <p class="valor-curso">R$ 49,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.png" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.png" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso2.svg" alt="Imagem descritiva dos cursos da categoria Back-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Node JS do Zero ao Avançado</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 55,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso3.svg" alt="Imagem descritiva dos cursos da categoria Back-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Boas Práticas para o melhor código!</h3></a>
      <p class="descricao-duracao-curso">Duração: 15 horas</p>
      <p class="valor-curso">R$ 29,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso5.svg" alt="Imagem descritiva dos cursos da categoria Back-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Banco de Dados | SQL e MySQL</h3></a>
      <p class="descricao-duracao-curso">Duração: 50 horas</p>
      <p class="valor-curso">R$ 49,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso6.svg" alt="Imagem descritiva dos cursos da categoria Back-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Framework: Express</h3></a>
      <p class="descricao-duracao-curso">Duração: 30 horas</p>
      <p class="valor-curso">R$ 34,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

    </div>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>

   <div class="categoria"></div>
    <a href="#"><h2 class="titulo-categorias"></h2>Cursos em Front-End</a>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <div class="listagem-cursos">

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso1.svg" alt="Imagem descritiva dos cursos da categoria Front-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Iniciando em CSS</h3></a>
      <p class="descricao-duracao-curso">Duração: 35 horas</p>
      <p class="valor-curso">R$ 49,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso2.svg" alt="Imagem descritiva dos cursos da categoria Front-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Introdução a HTML</h3></a>
      <p class="descricao-duracao-curso">Duração: 40 horas</p>
      <p class="valor-curso">R$ 39,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso3.svg" alt="Imagem descritiva dos cursos da categoria Front-End">
      </div>
      <a class="descricao-curso" href="#"><h3>Framework:Bootstrap</h3></a>
      <p class="descricao-duracao-curso">Duração: 30 horas</p>
      <p class="valor-curso">R$ 45,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso5.svg" alt="Imagem descritiva dos cursos da categoria Front-End">
      </div>
      <a class="descricao-curso" href="#"><h3>CSS do Zero ao Avançado</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 50,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso6.svg" alt="Imagem descritiva dos cursos da categoria Front-End">
      </div>
      <a class="descricao-curso" href="#"><h3>HTML do Zero ao Avançado</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 50,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

    </div>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>

   <div class="categoria"></div>
    <a href="#"><h2 class="titulo-categorias"></h2>Cursos Full Stack</a>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <div class="listagem-cursos">

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso1.svg" alt="Imagem descritiva dos cursos da categoria Full Stack">
      </div>
      <a class="descricao-curso" href="#"><h3>Desenvolvimento Web Full Stack</h3></a>
      <p class="descricao-duracao-curso">Duração: 1000 horas</p>
      <p class="valor-curso">R$ 200,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso2.svg" alt="Imagem descritiva dos cursos da categoria Full Stack">
      </div>
      <a class="descricao-curso" href="#"><h3>Back e Front | Full Stack</h3></a>
      <p class="descricao-duracao-curso">Duração: 1000 horas</p>
      <p class="valor-curso">R$ 150,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso3.svg" alt="Imagem descritiva dos cursos da categoria Full Stack">
      </div>
      <a class="descricao-curso" href="#"><h3>Desenvolvimento Web Full Stack</h3></a>
      <p class="descricao-duracao-curso">Duração: 30 horas</p>
      <p class="valor-curso">R$ 45,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso5.svg" alt="Imagem descritiva dos cursos da categoria Full Stack">
      </div>
      <a class="descricao-curso" href="#"><h3>Back e Front | Full Stack</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 50,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso6.svg" alt="Imagem descritiva dos cursos da categoria Full Stack">
      </div>
      <a class="descricao-curso" href="#"><h3>Desenvolvimento Web Full Stack</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 50,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

    </div>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>

   <div class="categoria"></div>
    <a href="#"><h2 class="titulo-categorias"></h2>Metodologias de Desenvolvimento</a>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-esquerda.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <div class="listagem-cursos">

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso1.svg" alt="Imagem descritiva dos cursos da categoria Metodologias de Desenvolvimento">
      </div>
      <a class="descricao-curso" href="#"><h3>Metodologias de Desenvolvimento: SCRUM</h3></a>
      <p class="descricao-duracao-curso">Duração: 1000 horas</p>
      <p class="valor-curso">R$ 200,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso2.svg" alt="Imagem descritiva dos cursos da categoria Metodologias de Desenvolvimento">
      </div>
      <a class="descricao-curso" href="#"><h3>Metodologias de Desenvolvimento: SCRUM</h3></a>
      <p class="descricao-duracao-curso">Duração: 1000 horas</p>
      <p class="valor-curso">R$ 150,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso3.svg" alt="Imagem descritiva dos cursos da categoria Metodologias de Desenvolvimento">
      </div>
      <a class="descricao-curso" href="#"><h3>Metodologias de Desenvolvimento: SCRUM</h3></a>
      <p class="descricao-duracao-curso">Duração: 30 horas</p>
      <p class="valor-curso">R$ 45,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso5.svg" alt="Imagem descritiva dos cursos da categoria Metodologias de Desenvolvimento">
      </div>
      <a class="descricao-curso" href="#"><h3>Metodologias de Desenvolvimento: SCRUM</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 50,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>

     <div class="curso-detalhes">
      <div class="imagem-descritiva-curso">
       <img src="images/products/curso6.svg" alt="Imagem descritiva dos cursos da categoria Metodologias de Desenvolvimento">
      </div>
      <a class="descricao-curso" href="#"><h3>Metodologias de Desenvolvimento: SCRUM</h3></a>
      <p class="descricao-duracao-curso">Duração: 70 horas</p>
      <p class="valor-curso">R$ 50,00</p>
      <div class="opcoes-user-curso">
       <button class="botao-carrinho-curso"><img src="images/products/carrinho.svg" alt="Botão de adicionar ao carrinho de compras"></button>
       <button class="botao-favoritar-curso"><img src="images/products/icone-favoritar.svg" alt="Botão de adicionar aos favoritos"></button>
       <a class="link-ver-detalhes" href="#">Ver detalhes</a>
      </div>
     </div>
    <div class="icone-seta-rolagem">
     <img src="images/products/seta-direita.svg" alt="ícone seta de rolagem para visualiação de mais cursos da categoria">
    </div>
    <a class="link-ver-todos" href="#">Ver todos</a>
   </div>
  </section>

  <span id="parceiros">
   <p id="titulo-parceiros">Com a parceria de empresas Tech em todo Brasil</p>
   <img class="icones-parceiros" src="images/products/parceiro-stripe.svg" alt="Ícone parceiro Stripe">
   <img class="icones-parceiros" src="images/products/parceiro-google.svg" alt="Ícone parceiro Google">
   <img class="icones-parceiros" src="images/products/perceiro-adobe.svg" alt="Ícone parceiro Adobe">
   <img class="icones-parceiros" src="images/products/parceiro-github.svg" alt="Ícone parceiro GitHub">
   <img class="icones-parceiros" src="images/products/parceiro-DH.svg" alt="Ícone parceiro DigitalHouse">
  </span>
 </main>
 
</body>

<footer>
   <%-include("partials/footer") %>
  </footer>
</html>