<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/profile-user.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
      <%-include("partials/header") %>
      </header>
      <main id          = "container-bodyprofileuser">
        <div id="botao-acessibilidade">
          <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
        </div>
        <section id= "cimaprofileuser">
          <img src= "/images/profileuser/artuser.svg" alt="Art Profile User">
          <section id= "mensagemprofileuser">
            <h1>Olá, Fulaninho da TI</h1>
            <h2>Este é seu perfil. Aqui você consegue editar dados pessoais, ver seu progresso nos cursos iniciados e dar uma olhadinha nos favoritos.</h2>
          </section>
        </section>
        <box id = "containermyaccount"> 
          <div id="myaccount">
            <a href="/configsaccount"><button id="configs-account"><strong>Configurações<strong></button></a>
            <div class="myaccountgradient"></div> 
          </div>
          
          <div id = "bioaccount"> 
            <img href = "#"id="edit-account" src="public/images/profileuser/editIcon">
            <div class="bioaccountgradient"></div> 
          </div>  
        </box>
        <box id = "containermylearning">
          <section id = "quoteprofileuser">
            <img src= "/images/profileuser/quoteprofileuser.svg" alt="Quote Profile User">            </section>
          <section id ="mylearning">
            <img src= "/images/profileuser/artuser2.svg" alt="Art Profile User">
            <div class="bioaccountgradient"></div> 

          </section>
        </box>
    </main>
    <footer>
      <%-include("partials/footer") %>
    </footer>
  </body>

</html>