<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/profile-user.css">
    <title>SkoobyTech</title>
</head>
</html>
    <body>
      <header>
      <%-include("partials/header") %>
      </header>
      <main id          = "container-bodyprofileuser">
        <div id="botao-acessibilidade">
          <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
         </div>
        <div id= "cimaprofileuser">
          <img src= "/images/profileuser/artuser.svg" alt="Art Home - SkoobyTech">
          <section id= "mensagemprofileuser">
            <h1>Olá, Fulaninho da TI</h1>
            <h2>Este é seu perfil. Aqui você consegue editar dados pessoais, ver seu progresso nos cursos iniciados e dar uma olhadinha nos favoritos.</h2>
          </section>
        </div>
          <box id = "myaccount"> 
            <p>OI</p>
            
            
            <box>
            
              

    </main>
    <footer>
      <%-include("partials/footer") %>
    </footer>
  </body>

</html>