<!DOCTYPE html>
<html lang              = "en">
<head>
    <%-include("partials/head") %>
    <link rel           = "stylesheet" href="css/profile-user.css">
    <title>Meu Perfil</title>
</head>
</html>
<body>
  <header>
   <%-include("partials/header") %>
  </header>
   <main id          = "container-bodyprofileuser">
    <div id="botao-acessibilidade">
     <img id="icone-acessibilidade" src="images/products/botaoacessibilidade.svg" alt="ícone do botão acessibilidade">
    </div>
    <section id= "upprofileuser">
      <img class ="artuser"src= "/images/profileuser/artuser.svg" alt="Art Profile User">
       <div id= "noticeprofileuser">
            <h1>Olá, Fulaninho da TI</h1>
            <h2>Este é seu perfil. Aqui você consegue editar dados pessoais, ver seu progresso nos cursos iniciados e dar uma olhadinha nos favoritos.</h2>
          </section>
        </div>
      </section>
      <box id = "containermyaccount"> 
        <section id="myaccount">
           <p><strong> Minha Conta</strong></p>
           <h1 href="/configsaccount"><button id="configs-account"><strong>Configurações<strong></button></h1>
           <div class="myaccountgradient">  
            <span id="myaccountuserinfo">
               <form>
                  <h1>Informações do Usuário</h1>
                  <br>
                <section id = "info-userup">
                  <div class = "div-infouser">
                    <label for="name">Nome de Usuário</label>
                    <br>
                    <input type="text" id="name" name="name" placeholder="@Fulaninho" required>
                    <br>
                    <label for="name">Primeiro Nome</label>
                    <br>
                    <input type="text" id="name" name="name" placeholder="Fulaninho" required>
                    <br>
                  </div>
                  <div>
                    <label for="e-mail">E-mail</label>
                    <br>
                    <input type="email" id="e-mail" name="e-mail" placeholder="fulaninho@digitalhouse.com" required>
                    <br>
                    <label for="senha">Sobrenome</label>
                    <br>
                    <input type="name" id="name" name="name" placeholder="da TI" required>
                     <br>
                  </div>
                    <br>
                <section id = "info-userdown">
                  <div>
                    <label for="senha">Senha atual (deixe em branco para não alterar)</label>
                    <br>
                    <input type="password" id="confirmação" name="confirmação" placeholder="***********" required>
                    <br>
                    <label for="senha-atual">Nova senha (deixe em branco para não alterar)</label>
                    <br>
                    <input type="password" id="confirmação" name="confirmação" placeholder="Criar nova senha" required>
                    <br>
                    <label for="nova-senha">Confirmar nova senha</label>
                    <br>
                    <input type="password" id="confirmação" name="confirmação" placeholder="Confirmar nova senha" required>
                    <br>
                  </div>
                    <input id="save-profile" type="submit" name="save-profile">
                </section>    
              </form>  
            </span>  
          </div>
          <a class="user-since">Por aqui desde: 25/03/2022</a>
        </section>
       
        <section id = "bioaccount"> 
            <img href = "#"id="edit-account" src="public/images/profileuser/editIcon.svg" alt="EditBio-Account"> 
        </section>
        <section>
          <div id="activityuser"></div>
        </section>
      </box>
      <box id = "containermylearning">
          <section id = "quoteprofileuser">
            <img id = "quoteprofileuser" src= "/images/profileuser/quoteprofileuser.svg" alt="Quote Profile User">  
          </section>  
          <div class="mylearningbar">
            <h1>Meu Aprendizado</h1>
            <img class = "artuser2" src= "/images/profileuser/artuser2.svg" alt="Art Profile User">
          </div> 
          
          <section id ="mylearning">
            <div id="scheduletime">
              <img class = "mylearningtarget" src= "/images/profileuser/alvo-meu-aprendizado.svg" alt="Target Image">
              <h1><strong>Programe um horário para o seu aprendizado</strong></h1>
              <h2>Alguns minutos de estudo por dia valem a pena. Pesquisas mostram que os alunos que fazem do estudo um hábito têm maior probabilidade de alcançar suas metas. Reserve um tempo para estudar e receba lembretes usando seu programador de aprendizado.</h2>
              <a href="#"><button id="scheduletimebutton"><strong>Começar<strong></button></a>
              <a href="#"><button id="scheduletimebutton2"><strong>Descartar<strong></button></a>
             <section class="mycourses">
                 <img href = "#"id="courses" src="">  
 
              </section>
              <h2>Iniciando em JavaScript Duração: 34 horas 4 de 22 aulas disponíveis</h2>
           </div>
                        
          </section>
        </box>
    </main>
    <footer>
      <%-include("partials/footer") %>
    </footer>
  </body>

</html>